@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif ;
     */
    /* border: 1px solid red; */

}

body{
    background: rgb(235,235,235);
    font-family: -apple-system,system-ui;
}

 nav .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding:  0.3rem 4rem;
    background: #fff;
}

nav .wrapper .left,
nav .wrapper .right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

nav .wrapper .left{
    padding-left: 3rem;
    gap: 0.4rem
}

nav .wrapper .logo i{
    font-size: 2.5rem;
    color: #0a66c2;

}

nav .wrapper .left .input {
    background: #EEF3F8;
    width: 100%;
    padding: 0.48rem;
    border-radius: 3px;
    gap:0.5rem;
    display: flex;
    align-items: center;
    font-size: 0.8rem;

}

nav .wrapper .left .input input[type='search'] {
    width: 15rem ;
    border: none;
    background: transparent;
    font-weight: 100;
}

nav .wrapper .left .input input[type='search']::placeholder{
    font-size: 0.8rem;
}


.input input[type='search']:focus{
    outline: none;
}

nav .wrapper .left .input i {
    margin: 0 3px;
    color: #5F6163;
    font-size: 0.9rem;
}

nav .wrapper .right .home,
nav .wrapper .right .network,
nav .wrapper .right .jobs,
nav .wrapper .right .message,
nav .wrapper .right .notification,
nav .wrapper .right .me,
nav .wrapper .right .me, .work{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 0.5rem;
 cursor: pointer;
}
nav .wrapper .right .network,
nav .wrapper .right .jobs,
nav .wrapper .right .message,
nav .wrapper .right .notification,
nav .wrapper .right  .work{
  color: gray;
}
nav .wrapper .right .home:hover,
nav .wrapper .right .network:hover,
nav .wrapper .right .jobs:hover,
nav .wrapper .right .message:hover,
nav .wrapper .right .notification:hover,
nav .wrapper .right .me, .down :hover,
nav .wrapper .right .me, .work :hover
nav .wrapper .right  .work :hover{
    color:#000;
}


nav .wrapper .right .home i ,
nav .wrapper .right .network i,
nav .wrapper .right .jobs i,
nav .wrapper .right .message i,
nav .wrapper .right .notification i{
    font-size: 1.2rem;
}

nav .wrapper .right .me .down,
nav .wrapper .right .work .down{
    display: flex;
    gap: 3px;
    justify-content: center;
    color: gray;
}

nav .wrapper .right .me > i:first-child {
    background: gray;
    color: #fff;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

h6 {
    font-weight: 400;
}
nav .wrapper .right .me {
   gap: 0.1rem !important;
}

.wrapper a {
    text-decoration: none;
    font-size: 0.7rem;
    width: 7rem;
    text-align: center;
    cursor: pointer;
    color: gray;
}

.wrapper a:hover{
    text-decoration: underline;
}

/*===================================Sidebar ==========================================*/

.container {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    width: 85%;
    gap: 2rem;
    margin: 1.8rem auto;

}

/* aside,main,.right_side {
  background: #000;
  height: 100vh;
  width: 100%;
} */

aside .sidebar {
    background: #fff;
    width: 100%;
    height: 63vh;
    border-radius: 0.5rem;
    position: relative;
    border: 1px solid #ccc;

}

.sidebar .top {
    width: 100%;
    height: 11vh;
    background-image: url('img/1653145361197.jpg');
    border-radius: 0.8rem;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}

.sidebar img {
    position: relative;
    left: 50%;
    width: 80px;
    height: 80px;
    transform: translate(-50%, 20%);
    border-radius: 50%;
    border: 2px solid #fff;
}

   .sidebar  .profile {
    text-align: center;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-bottom: 1px solid #ccc;
    height: 12vh;
}

.sidebar  .profile a {
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: #000;
}

.sidebar  .profile a:hover {
    text-decoration : underline;
}

.sidebar  .profile span {
    font-size: 12px;
    color: gray;
    padding: 0 15px;
    font-weight: 400;

}
.sidebar .view {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.7rem;

}

.sidebar .view .views {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 0.2rem 0.7rem;
    cursor: pointer;


}

.sidebar .view .views:hover {
    background-color:#EBEBEB;
}

.sidebar .view .views h5{
    font-size: 11px;
    color:  #555;
    font-weight: 600;
}

.sidebar .view .views a {
    color: #2E7DCA;
    font-weight: 500;
    text-decoration: none;
    font-size: 0.8rem;
}

.premium {
    padding: 15px 20px 15px 8px;
    border-bottom: 1px solid #ccc;



}
.premium:hover {
    background: #EBEBEB;
}
 .premium h6 {
    font-weight: 500;
    color:  #555;
  }

 .premium a {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 0.2frem;
    text-decoration: none;
 }

 .premium a h5 {
    font-size: 12px;
    margin-left: -5px;
    color: #5E5E5E;
    text-decoration: underline;
 }

 .premium a i {
    color:#E7A33E;
    font-size: 14px;

 }

 .items {
    /* position: relative; */
    /* top:2%; */
    height: 41px;
    display: flex;
    gap: 0.5rem;
    padding-left: 1rem;
    align-items: flex-end;
    color:#5E5E5E;
    padding-top: 0.3rem;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    border-radius: 3px;
 }
 .items:hover {
    background-color:#EBEBEB ;
    cursor: pointer;
 }


 .items h6 {
    font-weight: 700;
    font-size: 0.7rem;
 }

 .items i {
    font-size: 14px;
 }

 .items span {
    font-size: 13px;
    font-weight: 700;
 }

 aside .recent__jobs {
    background: #fff;
    width: 100%;
    height: 60vh;
    border-radius: 0.5rem;
    position: relative;
    border: 1px solid #ccc;
    margin-top: 0.5rem;
}

aside .recent__jobs .recent{
    /* margin: 1rem; */

}

aside .recent__jobs .recent h6 {
    font-weight: 500;
    font-size: 12px;
    color: gray;

}
aside .recent__jobs .one {
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem;
    padding:  0.1rem 1rem;
    align-items: center;


}


aside .recent__jobs .one:hover {
    background-color:#EBEBEB;
    cursor: pointer;
}

aside .recent__jobs .one h6 {
  padding: 0.1rem;
}

aside .recent__jobs .one i {
    font-size: 12px;
}


aside .recent__jobs .arrow {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

aside .recent__jobs .back {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #999;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

aside .recent__jobs .groups {
   margin-top: 1rem;
}

aside .recent__jobs .groups a {
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    color:#0a66c2;
    margin-left: 1rem;
   }
   aside .recent__jobs .groups a:hover {
     text-decoration: underline;
   }
aside .recent__jobs .groups .two {
    display: flex;
    align-items: center;
   padding: 0 0 0 0.8rem;
    gap:0.5rem;
    color: rgb(83,83,83);
}
aside .recent__jobs .groups .two:hover {
    background-color: #EBEBEB;
    cursor: pointer;
}

aside .recent__jobs .groups .two i {
    font-size: 12px;
    color: #000;
}

aside .recent__jobs .groups .two h6 {
    font-weight: 500;
    font-size: 12px;
    color: gray;
    padding: 0.2rem 0 0.2rem 0.2rem;
}


.two-final h6 {
    font-weight: 500;
    font-size: 12px;
    color: gray;
    padding: 0.2rem 0 0.2rem 2.3rem ;
    margin-top:2px;
}

.two-final h6:hover{
    background-color: #EBEBEB ;
    cursor: pointer;
}
.grup {
    margin-bottom: 8px;
}

aside .events{
    display: flex;
    justify-content: space-between;
    margin: 0.8rem 0 0 1rem;
    padding-right: 0.5rem;
    align-items: center;
}

aside .events h6 {
    color: #2E7DCA;
    font-size: 12px;
    font-weight: 700;
}
aside .events h6:hover{
    text-decoration: underline;
    cursor: pointer;
}

aside .events i {
    color:gray;

}

.events .back__icon {
    height: 30px;
    width: 30px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
 
.events .back__icon:hover{
    background-color: #EBEBEB ;
    cursor: pointer;

}

aside .discover {
    padding-left: 1rem;
    margin-top: 0.3rem;
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.4rem;
    
}
aside .discover a {
    text-decoration: none;
    font-size: 12px;
    color: #2E7DCA;
    font-weight: bold;
}

aside .discover a:hover {
    text-decoration: underline;
    cursor: pointer;
} 

aside .but h4{
    color:#999;
    font-size: 14px;
    text-align: center;
    line-height: 44px;
    font-weight: 500;
    border-radius: 3px;
}
aside .but h4:hover {
    background-color: #EBEBEB;
    cursor: pointer;
}

/*--====================Main Section end here======================*/
 main {
    background-color: #FFF;
    border-radius: 0.8rem;
 }


